.adminDashBoardMainContainerDIV
{
    padding-left: 40px;
    padding-right: 40px;padding-top: 40px;
}

.createNewTaskFORM
{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    border: 1px solid #69e550;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
}

.inputAndLabelContainerDIV
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.descriptionTEXTAREA
{
    height: 100px;
}